<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <SitecoreWebUrl>http://local.allinahealth.org/</SitecoreWebUrl>
	<SitecoreDeployFolder>C:\inetpub\wwwroot\local.AllinaHealth.org</SitecoreDeployFolder>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Development' ">
    <SitecoreWebUrl>http://cm.dx-dev.allinahealth.org/</SitecoreWebUrl>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Stage CM' ">
    <SitecoreWebUrl>http://dx-cm-stg.allinahealth.org/</SitecoreWebUrl>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Stage CD2' ">
    <SitecoreWebUrl>http://dx-cm-stg.allinahealth.org/</SitecoreWebUrl>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Stage CD3' ">
    <SitecoreWebUrl>http://dx-cm-stg.allinahealth.org/</SitecoreWebUrl>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Stage CD4' ">
    <SitecoreWebUrl>http://dx-cm-stg.allinahealth.org/</SitecoreWebUrl>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Prod CM' ">
    <SitecoreWebUrl>http://cm.allinahealth.org/</SitecoreWebUrl>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Prod CD2' ">
    <SitecoreWebUrl>http://cm.allinahealth.org/</SitecoreWebUrl>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Prod CD3' ">
    <SitecoreWebUrl>http://cm.allinahealth.org/</SitecoreWebUrl>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Prod CD4' ">
    <SitecoreWebUrl>http://cm.allinahealth.org/</SitecoreWebUrl>
	<InstallSitecoreConnector>true</InstallSitecoreConnector>
	<SitecoreAccessGuid>4fe0065e-b6a1-452a-87c8-d5ef5bcecc62</SitecoreAccessGuid>
    <DisableFileDeployment>true</DisableFileDeployment>
  </PropertyGroup>
</Project>