<div class="testimonial-body">
    <div class="testimonial-icon"></div>
    <div class="textimonial-container">
        <div class="testimonial-quote">
            @Html.Sitecore().Field("Quote")
        </div>
        <div class="testimonial-byline">
            <div class="biline-dash"></div>
            <div class="biline-title">@Html.Sitecore().Field("Source")</div>
        </div>
    </div>
</div>