@inherits AllinaHealth.Framework.Razor.WebViewPage<AllinaHealth.Models.ViewModels.Toolbox.QandATreeModel>

<div>
    COMING SOON: Q&A COMPONENT
    @*<div class="col-md-12 col-sm-12">
            @if (!Model.Answer.IsNullOrEmptyTrimmed())
            {
                <div>
                    Answer - @Model.Answer
                </div>
            }
            <div>
                First Question - @Model.Question
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            @if (Model.Children.Any())
            {
                @Html.Partial("~/Views/Toolbox/Partials/QA.cshtml")
            }
        </div>*@
</div>