<div class="banner-title">@AH.GetDictionaryText("Careers:SearchBarHeader")</div>
<div id="searchBy" class="searching-by show searching-by-1">
    <div class="banner-form search-statement" style="margin-bottom:98px; padding-bottom:0;">
        <div class="form-element">
            <a class="button" href="https://wd5.myworkday.com/allina/d/home.htmld" title="CurrentEmployeesApplyHere" id="CurrentEmployeesApplyHere" target="_blank">@AH.GetDictionaryText("Careers:HeaderCurrentEmployees")</a>
        </div>
        <div class="form-element">
            <a class="button" href="https://allina.wd5.myworkdayjobs.com/en-US/External" title="SearchAndApplyForJob" id="SearchAndApplyForJob" target="_blank">@AH.GetDictionaryText("Careers:HeaderSearchAndApply")</a>
        </div>
        <div class="form-element">
            <a class="button" href="https://www.applytracking.com/optin.aspx?c=bqlIXmLCSvwY8Mu8QVqtYHnxF3VWtiSJ" title="JoinTalentNetwork" id="JoinTalentNetwork" target="_blank">@AH.GetDictionaryText("Careers:HeaderTalentNetwork")</a>
        </div>
    </div>
</div>